<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="name.caiyao.enablescreenshot">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="允许类似QQ闪照的截图" />
        <meta-data android:name="xposedminversion" android:value="30" />
    </application>

</manifest>
